.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.background::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background-film); 
}

.search_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title{
    font-family: var(--font-family-semibold);
    font-size: 6em;
    color: var(--text-color-light);
    margin-bottom: 80px;
}

.description{
    font-family: var(--font-family-regular);
    font-size: 2em;
    text-align: center;
    padding: 0 40px;
    color: var(--text-color-light);
    margin-bottom: 40px;
}

.search{
    position: relative;
    display: flex;
    height: 60px;
    width: 55vw;
}

.search_txt{
    width: 100%;
    padding: 25px 120px 25px 20px;
    font-size: 1.8em;
    border-radius: 6px;
    border: 0;
}

input:focus {
    outline: none;
    box-shadow: 0 0 5px var(--color-semi-dark);
  }

.search_bnt{
    position: absolute;
    right: 0;
    height: 100%;
    width: 80px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    box-shadow: -6px 0 10px var(--color-dark-shadow);
}

.underContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background-color-light);
    padding: 120px 0;
}

.exampleContainer{
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 60px 0;
}

.exampleName{
    font-family: var(--font-family-bold);
    font-size: 3.4em;
    color: var(--text-color-dark);
    margin-top: 40px;
    margin-bottom: 20px;
}

.divisionContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divisionTitle{
    font-family: var(--font-family-bold);
    padding: 0 40px;
    font-size: 3.4em;
    text-align: center;
    color: var(--black);
}

.divisionDescription{
    font-family: var(--font-family-regular);
    font-size: 1.4em;
    text-align: justify;
    color: var(--text-color-dark);
    padding: 0 20vw;
    margin-top: 40px;
    margin-bottom: 60px;
}

.exampleImg{
    width: 100%;
}

.exampleDescription{
    font-family: var(--font-family-regular);
    font-size: 1.4em;
    text-align: justify;
    color: var(--text-color-dark);
}

@media screen and (max-width: 1280px) {
    body{
        font-size: 0.94em;
    }

    .search{
        height: 55px;
        width: 60vw;
    }
}

@media screen and (max-width: 1024px) {
    body{
        font-size: 0.84em;
    }

    .search{
        height: 50px;
        width: 65vw;
    }
}

@media screen and (max-width: 500px) {
    body{
        font-size: 0.71em;
    }

    .search{
        height: 45px;
        width: 75vw;
    }
}