.lateralMenu_container{
    position: fixed;
    z-index: 99;
    height: calc(100vh - 80px);
    width: 0;
    right: 0;
    bottom: 0;
    transition: width 0.3s;
    background-color: var(--background-color-light);
}

.lateralMenu_container.open{
    width: 70vw;
}

.buttonUser{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 30px 0;
}

.buttonUser a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100px;
    margin-left: 30px;
    border-radius: 40px;
    background-color: var(--color-dark);
    font-family: var(--font-family-regular);
    font-size: 1.5em;
    color: var(--text-color-light);
}

.nav_lateralMenu{
    height: 50px;
    width: 100%;
    margin-bottom: 20px;
}

.nav_lateralMenu a{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 30px;
    font-family: var(--font-family-regular);
    font-size: 2.5em;
    color: var(--text-color-dark);
}