.footer_container{
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color-dark);
}

.icon_container{
    display: flex;
    width: 160px;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 38px;
}

.info{
    font-family: var(--font-family-regular);
    font-size: .9em;
    color: var(--text-color-light);
    margin-top: 12px;
}

.privacy{
    color: var(--text-color-middle);
}